:root {
    --light_main_color: #6cb6f3;
    --middle_main_color: #157fd7;
    --dark_main_color: #0d4880;
  }

.main {
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #F1F0E9;
}

.content {
    padding: 20px;    
}

.content > .formAtestado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content > .contIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
}

/*botoes da tela inicial*/
.contIndex > a {
    width: 50%;
    min-height: 100%;

    border: 3px solid #366341;
    border-radius: 10px;

    text-align: center;
    font-size: 22px;
    font-weight: 700;

    /*essa parte faz parecer um botão*/
    cursor: pointer;
    transition: background 0.25s;
    user-select: none;
    text-decoration: none;
    color: #366341;
    &:hover {
        text-decoration: none;
        color: #ebebeb;
        background: #366341;
    }   
    
    i {
        font-size: 120px;
    }
}

.fas {
    color: white;
}

.navbar {
    background-color: #366341;
    color: white;

    .nav-link {
        color: white;
        text-align: center;
        font-size: 1.2rem;
        transition: 100ms;
        border-radius: 10px;
    }
    .navbar-brand {
        font-size: 18px;
        color: white;
    }

    .nav-item {
        font-size: 15px;
    }

    .nav-link:hover {
        background-color: #25562b;
        color: white;
    }
}

button {
    background-color: #41644A;
}

.btn-outline-primary {
    color: #366341 !important;
    background-color: #ffffff !important;
    padding: auto, 20px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    border: 2px solid #366341 !important;
    border-radius: 10px !important;
}
  
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
    transition: background .25s !important;
    color: #ffffff !important;
    background-color: #366341 !important;
    border-color: #366341 !important;
}

.btn-outline-secondary {
    color: #9b0d0d !important;
    background-color: #ffffff !important;
    padding: auto, 20px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    border: 2px solid #9b0d0d !important;
    border-radius: 10px !important;
}
  
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.show > .btn-outline-secondary.dropdown-toggle {
    transition: background .25s !important;
    color: #ffffff !important;
    background-color: #9b0d0d !important;
    border-color: #9b0d0d !important;
}

.modal-open .modal-backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1 !important;
  }

.modal-content {
    border: 2px solid #366341 !important;
    border-radius: 12px !important;
}

#divCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
}

#search {
    background-color: white;
    border: 1px solid #212529;
    padding: 0px 15px 0px 15px;
    color: #757575;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    font-family: Helvetica;
    margin-right: 10px;
}

#category {
    background-color: white;
    border: 1px solid #212529;
    padding: 0px 15px 0px 15px;
    color: #757575; 
    border-radius: 10px;
    width: 12%;
    height: 40px;
    font-family: Helvetica;
}

select:hover {
    color: #25562b;
}


.minhaEquipe {
    display: flex;
    justify-content: space-between;
}

#btn_modal_adm {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
    color: black;
}