<!-- templates/atestados.html -->
{% extends "base.html" %} {% block title %}Atestados{% endblock %} {% block content %}
<div class="content" id="divCadastro">
  <h1 class="mb-3 text-center">Crie uma Conta</h1>
  <div>
    <form id="formCadastro" class="row justify-content-center" method="POST">
      <div class="mb-3 col-4">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" aria-describedby="nome" required />
      </div>

      <div class="mb-3 col-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" required />
      </div>

      <div class="mb-3 col-7">
        <label for="login" class="form-label">Login</label>
        <input type="number" class="form-control" id="login" aria-describedby="login" required />
        <div id="login" class="form-text">*Número de RA.</div>
      </div>

      <div class="mb-3 col-7">
        <label for="senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="senha" required />
      </div>

      <!-- <div class="mb-3 col-7">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="radioUSerType"
            value="adm"
            id="adm"
          />
          <label class="form-check-label" for="adm"> Administrador </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="radioUSerType"
            value="aluno"
            id="aluno"
            checked
          />
          <label class="form-check-label" for="aluno"> Aluno </label>
        </div>
      </div> -->

      <div class="col-7">
        <center><button type="submit" class="btn btn-outline-primary mt-4 px-5">Criar</button></center>
      </div>

      <div id="resposta"></div>

      <div></div>
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#formCadastro").submit(function (event) {
      event.preventDefault(); // Impede o envio padrão do formulário

      let nome = $("#nome").val();
      let email = $("#email").val();
      let login = $("#login").val();
      let senha = $("#senha").val();

      $.ajax({
        url: "/usuario/add",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          // Converte os dados para JSON antes de enviar
          nome: nome,
          email: email,
          login: login,
          senha: senha,
        }),
        success: function (response) {
          window.location.replace("/login/");
        },
        error: function (response) {
          window.location.reload()
        },
      });
    });
  });
</script>

{% endblock %}
