<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}NinjaDevs{% endblock %}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-contents">
          <a class="navbar-brand mx-5" href="/">Home</a>
          <a class="navbar-brand mx-5" href="/atestados">Atestados</a>
          <a class="navbar-brand mx-5" href="/avaliacao">Avaliação</a>
        </div>
        <div class="navbar-contents">
          {% if "RA" not in session %}
          <a id="loginBtn" class="navbar-brand mx-5" href="/login">Login</a>
          <a id="cadastroBtn" class="navbar-brand mx-5" href="/cadastro/"
            >Cadastro</a
          >
          {% else %}
          <a id="logoutBtn" class="navbar-brand mx-5" href="/logout/">Sair</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="main container bg-light mt-4">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
