<!-- templates/atestados.html -->
{% extends "base.html" %} {% block title %}Minha equipe{% endblock %} {% block content %}
<div class="modal fade" id="modal_equipe" tabindex="-1" role="dialog" aria-labelledby="modalEquipeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white" style="background-color: #366341 !important">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bi bi-person-plus-fill ms-1 me-2"></i>
          Cadastrar uma Nova Equipe
        </h1>
        <button type="button" class="btn-close btn-close-white me-1" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form class="row" method="POST" id="formEquipe">
          <!-- Nome da Equipe -->
          <div class="form-group col-md-6">
            <label for="nomeEquipe">Nome da Equipe</label>
            <input type="text" class="form-control" id="nomeEquipe" name="nomeEquipe" required />
          </div>

          <!-- Membros da Equipe -->
          <div id="membrosContainer" class="col-md-12">
            <div class="membro row mb-2">
              <div class="col-md-6">
                <label>Membro</label>
                <select name="membros[]" class="form-select" required>
                  <option value="" selected disabled>Selecione uma pessoa</option>
                </select>
              </div>
              <div class="col-md-6">
                <label>Função</label>
                <select name="cargos[]" class="form-select" required>
                  <option value="" selected disabled>Selecione o cargo</option>
                  <option value="Scrum Master">Scrum Master</option>
                  <option value="Product Owner">Product Owner</option>
                  <option value="Dev Team">Dev Team</option>
                </select>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-sm btn-outline-primary col-md-2 mx-3" id="addMembro">
            <i class="bi bi-person-plus"></i>
            Adicionar
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm col-md-2" id="removeMembro">
            <i class="bi bi-eraser-fill"></i>
            Remover
          </button>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-outline-primary" id="btn_cadastro_equipe">Salvar Equipe</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_avaliacao" tabindex="-1" aria-labelledby="modalAvaliacaoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form id="formAvaliacao">
        <div class="modal-header bg-dark text-white" style="background-color: #366341 !important">
          <h5 class="modal-title" id="modalAvaliacaoLabel">
            <i class="bi bi-star-fill ms-1 me-2"></i>
            Avaliar Membro do
            <span id="nome_equipe_single"></span>
          </h5>
          <button type="button" class="btn-close btn-close-white me-1" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>

        <div class="modal-body" id="MembrosAvaliacao">
          <div class="mb-3 row">
            <div class="col-md-6">
              <label>Membro</label>
              <select name="membro" id="membro" class="form-select" required></select>
            </div>
            <div class="col-md-6">
              <label>Período</label>
              <select name="sprint" id="sprint" class="form-select" required>
                <option value="" selected disabled>Selecione a sprint</option>
                <option value="1">Sprint 1</option>
                <option value="2">Sprint 2</option>
                <option value="3">Sprint 3</option>
              </select>
            </div>
          </div>

          <hr />

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Entrega de Resultados</label>
              <input type="range" class="form-range" min="0" max="3" step=".5" name="resultados" required />
              <span id="valor-resultados"></span>
            </div>

            <div class="col-md-6">
              <label class="form-label">Colaboração</label>
              <input type="range" class="form-range" min="0" max="3" step=".5" name="colaboracao" required />
              <span id="valor-colaboracao"></span>
            </div>

            <div class="col-md-6">
              <label class="form-label">Proatividade</label>
              <input type="range" class="form-range" min="0" max="3" step=".5" name="proatividade" required />
              <span id="valor-proatividade"></span>
            </div>

            <div class="col-md-6">
              <label class="form-label">Autonomia</label>
              <input type="range" class="form-range" min="0" max="3" step=".5" name="autonomia" required />
              <span id="valor-autonomia"></span>
            </div>
          </div>

          <div class="mt-3">
            <label for="observacoes" class="form-label">Observações (opcional)</label>
            <textarea class="form-control" id="observacoes" name="observacoes" rows="2" placeholder=". . ."></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-outline-primary">Salvar Avaliação</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_metrica" tabindex="-1" aria-labelledby="modalmetricaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white" style="background-color: #366341 !important">
        <h5 class="modal-title" id="modalmetricaLabel">
          <i class="bi bi-bar-chart ms-1 me-2"></i>
          Métricas
        </h5>
        <button type="button" class="btn-close btn-close-white me-1" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body" id="Membrosmetrica">
        <div class="mb-3 row">
          <div class="col-md-6">
            <label>Membro</label>
            <select name="membro_metrica" id="membro_metrica" class="form-select" required></select>
          </div>
        </div>

        <hr />

        <div>
          <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description"></p>
          </figure>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="content row">
  <h2 class="col-12 col-md-12 mb-3">Minha Equipe</h2>
  <div class="col-12 col-md-12 px-3 mb-4 row">
    <div class="card border-success mb-3 col-3 col-md-3">
      <div class="card-header text-success" style="background-color: #fff">
        <i class="bi bi-person"></i>
        <span style="font-size: 1.5rem" id="nome_equipe_single2"></span>
      </div>
      <div class="card-body text-success">
        <p class="card-text" id="membros_equipe_single"></p>
      </div>
    </div>

    <center class="col-4 col-md-4 row align-items-center">
      <div>
        <button class="btn btn-outline-primary col-12 col-md-12" data-bs-toggle="modal" data-bs-target="#modal_avaliacao">
          <i class="bi bi-star"></i>
          Avaliar Membro
        </button>
      </div>
      <div>
        <button class="btn btn-outline-primary col-12 col-md-12" data-bs-toggle="modal" data-bs-target="#modal_metrica">
          <i class="bi bi-bar-chart"></i>
          Métricas
        </button>
      </div>
    </center>
  </div>

  <h2 class="col-12 col-md-9">Todas as Equipes</h2>
  <div class="col-12 col-md-12">
    <table id="tabela-equipes" class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Membros</th>
        </tr>
      </thead>
      <tbody>
        <!-- Vai ser preenchido via JS -->
      </tbody>
    </table>

    <center>
      <button class="btn btn-outline-primary col-4 col-md-3" data-bs-toggle="modal" data-bs-target="#modal_equipe">
        <i class="bi bi-person-plus"></i>
        Cadastrar Equipe
      </button>
    </center>
  </div>

  <input type="hidden" value="" />
</div>

<script>
  const USER_ID = "{{ session['RA'] }}";
</script>

<script>
  $(document).ready(function () {
    let contadorMembros = 0;
    var users = [];
    var equipes = [];
    var minha_equipe = [];

    getUsers();
    mostrarValor_ranges();

    $("#tabela-equipes").DataTable({
      lengthChange: false,
      info: true,
      paging: false,
    }); // inicia a tabela vazia
    getEquipes(); // carrega os dados depois
    getEquipeSingle(USER_ID);
    barChart_sprints();

    // Esse jQuery serve pra adicionar membros na interface de criação de equipe
    $("#addMembro").on("click", function () {
      if (contadorMembros < 8) {
        const $container = $("#membrosContainer");
        const $membro = $container.find(".membro").first();
        const $clone = $membro.clone();

        // Limpa os selects dentro do clone
        $clone.find("select").val("");

        // Adiciona no container
        $container.append($clone);
        contadorMembros++;

        // Adiciona validação para garantir que ambos os campos sejam preenchidos
        $clone.find("select[name='membros[]'], select[name='cargos[]']").on("change", function () {
          const membroVal = $clone.find("select[name='membros[]']").val();
          const cargoVal = $clone.find("select[name='cargos[]']").val();

          if ((membroVal && !cargoVal) || (!membroVal && cargoVal)) {
            $clone.find("select[name='membros[]'], select[name='cargos[]']").addClass("incomplete");
          } else {
            $clone.find("select[name='membros[]'], select[name='cargos[]']").removeClass("incomplete");
          }
        });
      } else {
        alert("Uma equipe ágil pode ter apenas de 5 até 9 membros");
      }
    });
    for (let index = 0; index < 4; index++) {
      $("#addMembro").click();
    }

    $("#removeMembro").on("click", function () {
      const $membros = $("#membrosContainer .membro");
      if ($membros.length > 5) {
        $membros.last().remove();
        contadorMembros--;
      } else {
        alert("Uma equipe ágil pode ter apenas de 5 até 9 membros");
      }
    });

    $("#btn_cadastro_equipe").on("click", function (event) {
      event.preventDefault(); // Impede o envio padrão

      let nomeEquipe = $("#nomeEquipe").val().trim();

      // Verifica se o nome da equipe foi preenchido
      if (!nomeEquipe) {
        alert("Por favor, insira um nome para a equipe");
        return;
      }

      let membros = [];
      let cargos = [];

      // Coleta todos os valores dos selects de membros e cargos
      $("select[name='membros[]']").each(function () {
        membros.push($(this).val());
      });

      $("select[name='cargos[]']").each(function () {
        cargos.push($(this).val());
      });

      // Verifica se há pelo menos 5 membros e cargos preenchidos
      if (membros.filter((m) => m !== null && m !== "").length < 5 || cargos.filter((c) => c !== null && c !== "").length < 5) {
        alert("Preencha ao menos 5 membros e seus respectivos cargos");
        return;
      }

      // Junta membros e cargos em uma lista de objetos
      let equipeFinal = membros.map((id, index) => ({
        id_usuario: id,
        cargo: cargos[index],
      }));

      // Envia via AJAX pro Flask
      $.ajax({
        url: "/equipe/add",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          nome: nomeEquipe,
          membros: equipeFinal,
        }),
        success: function (response) {
          window.location.reload();
        },
        error: function (response) {
          let responseJson = response.responseJSON;
          console.error(responseJson);
        },
      });
    });

    $("#formAvaliacao").on("submit", function (event) {
      event.preventDefault(); // Impede o envio padrão

      let membro = $("#membro").val();
      let sprint = $("#sprint").val();
      let avaliacao = {
        resultados: parseFloat($('input[name="resultados"]').val()),
        colaboracao: parseFloat($('input[name="colaboracao"]').val()),
        proatividade: parseFloat($('input[name="proatividade"]').val()),
        autonomia: parseFloat($('input[name="autonomia"]').val()),
      };
      let observacoes = $("#observacoes").val();

      // Envia via AJAX pro Flask
      $.ajax({
        url: "/equipe/avaliar",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          membro: membro,
          sprint: sprint,
          avaliacao: avaliacao,
          obs: observacoes,
        }),
        success: function (response) {
          window.location.reload();
        },
        error: function (response) {
          let responseJson = response.responseJSON;
          console.error(responseJson);
        },
      });
    });

    function preencherSelectMembros() {
      const selects = $("#membrosContainer select[name='membros[]']");
      selects.each(function () {
        const select = $(this);
        select.empty(); // limpa as opções
        select.append('<option value="" disabled selected>Selecione uma pessoa</option>'); // adiciona a opção padrão

        users.forEach((user) => {
          select.append(`<option value="${user.ra}">${user.nome}</option>`);
        });
      });
    }
    function preencherTabelaEquipes(equipes) {
      const $tabela = $("#tabela-equipes").DataTable();
      $tabela.clear(); // limpa dados antigos

      if (equipes.length > 0) {
        var membrosText = [];
        equipes.forEach((equipe) => {
          // Cria as badges com o nome dos membros
          const membrosText = equipe.membros
            .map((membro) => {
              return `<span style="font-size:1rem" class="badge text-bg-light me-1 my-1">${membro.nome}</span>`;
            })
            .join(" "); // separa por espaço
          $tabela.row.add([equipe.nome, membrosText]);
        });
        $tabela.draw();
      } else {
        $tabela.clear();
      }
    }

    function getUsers() {
      $.ajax({
        url: "/usuario/get_users",
        type: "GET",
        success: function (response) {
          users = response.users;
          users.sort((a, b) => a.nome.localeCompare(b.nome));
          preencherSelectMembros(); // chama a função ao carregar
        },
        error: function (response) {
          let responseJson = response.responseJSON;
          console.error(responseJson);
        },
      });
    }
    function getEquipes() {
      $.ajax({
        url: "/equipe/get_equipes",
        type: "GET",
        success: function (response) {
          equipes = response.equipes;
          preencherTabelaEquipes(equipes);
        },
        error: function (response) {
          let responseJson = response.responseJSON;
          console.error(responseJson);
        },
      });
    }

    function getEquipeSingle(id_usuario) {
      $.ajax({
        url: "/equipe/get_equipe_single?id_usuario=" + id_usuario,
        type: "GET",
        success: function (response) {
          minha_equipe = response.equipe;
          $("#nome_equipe_single").append(minha_equipe.nome);
          $("#nome_equipe_single2").append(minha_equipe.nome);

          const selects = $("#MembrosAvaliacao select[name='membro']");
          const selects_metricas = $("#Membrosmetrica select[name='membro_metrica']");
          selects.append('<option value="" disabled selected>Selecione uma pessoa</option>'); // adiciona a opção padrão
          selects_metricas.append('<option value="" disabled selected>Selecione uma pessoa</option>'); // adiciona a opção padrão
          minha_equipe.membros.forEach((membro) => {
            $("#membros_equipe_single").append('<span style="font-size: 1rem" class="badge text-bg-light me-1">' + membro.nome + "</span>");
            selects.append(`<option value="${membro.id_usuario}">${membro.nome}</option>`);
            selects_metricas.append(`<option value="${membro.id_usuario}">${membro.nome}</option>`);
          });
        },
        error: function (response) {
          let responseJson = response.responseJSON;
          console.error(responseJson);
        },
      });
    }

    function mostrarValor_ranges() {
      const ranges = document.querySelectorAll('input[type="range"]');
      ranges.forEach((range) => {
        const valorSpan = document.getElementById("valor-" + range.name);
        const atualizarValor = () => {
          valorSpan.textContent = range.value;
        };

        // Atualiza no load inicial
        atualizarValor();

        // Atualiza ao mudar
        range.addEventListener("input", atualizarValor);
      });
    }

    function barChart_sprints() {
      Highcharts.chart("container", {
        chart: {
          type: "column",
        },
        title: {
          text: "Métricas individuais PACER, em cada sprint",
        },
        subtitle: {
          text: "",
        },
        xAxis: {
          categories: ["Entrega de resultados", "Colaboração", "Proatividade", "Autonomia"],
          crosshair: true,
          accessibility: {
            description: "Skills do PACER",
          },
        },
        yAxis: {
          min: 0,
          max: 3,
          title: {
            text: "Nota (0-3)",
          },
        },
        tooltip: {
          valuePrefix: "Nota ",
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0,
          },
        },
        series: [
          {
            name: "Sprint-1",
            data: [2, 1, 3, 2],
          },
          {
            name: "Sprint-2",
            data: [2, 2, 2, 1],
          },
          {
            name: "Sprint-3",
            data: [1, 3, 3, 2],
          },
        ],
      });
    }
  });
</script>

{% endblock %}
