<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="content text-center">
  <h1 class="mb-1">Sistema AVATAR</h1>
  <h4 class="mb-5">Avaliação de Times Ágeis e Registro de Atestados</h4>
  <hr />
  <div class="contIndex">
    <a href="/atestados/">
      <i class="bi bi-file-earmark-medical"></i>
      <br />
      ATESTADOS
    </a>
    <a href="/equipe/">
      <i class="bi bi-people"></i>
      <br />
      EQUIPES
    </a>
  </div>
</div>
{% endblock %}
