<!-- templates/index.html -->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<div class="content text-center">
  <h1 class="mb-5">Sistema de gerenciamento de Atestados Médicos e avaliação de equipes ágeis.</h1>
  <div class="contIndex">
    <a href="/atestados/">
      <i class="bi bi-file-earmark-medical"></i>
      <br>
      Atestados
    </p>
    <a href="/equipe/">
      <i class="bi bi-people"></i>
      <br>
      Equipes
    </p>
  </div>
</div>
{% endblock %}
